:root {
    --font-color: white;
}

body {
    background-color: rgb(50,50,50);
    background: url('background.jpg');
    margin-left: 90px;
    margin-right: 90px;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 30px;
    font-family: Anton;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}

li {
    display: inline-block;
    margin: 15px;
}

li a {
    display: inline;
    color: black;
    text-decoration: none;
    padding: 30px 30px;
}

li a:hover {
    background-color: rgb(200,200,200);
}

h1 {
    font-size: 60px;
    font-family: Anton;
    text-align: center;
}

#para-title {
    color: var(--font-color);
}

h2 {
    font-size: 30px;
    font-family: Carter One;
}

p {
    font-size: 17px;
    font-family: Carter One;
    color: var(--font-color);
    text-align: justify;
}

h2, p {
    margin: 0px 50px 40px 50px;
}

div {
    text-align: center;
}

footer {
    --font-color: black;
    text-align: center;
    font-weight: 600;
    margin: 50px 60px -20px 60px;
    padding: 0px;
    color: var(--font-color);
    background-color: white;
}

footer p {
    font-size: 20px;
}